*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --principal-color: #94bcf5;
    --secondary-color-hard:  rgb(0, 0, 62);
    --third-color: #79DAE8;
    --ligth-color:#78f7f3;
    --hard-blue:#5b7fd3 ;
   
}
body{
    background: linear-gradient(to top, var(--principal-color), rgb(196, 213, 255));
    background-repeat: no-repeat;
    background-size:100vw 100vh;
}
header h1{
    text-align: center;
    margin: 15px;
    font-size: 2.5rem;
    color: var(--secondary-color-hard);
}

.search-container #ciudad{
    width: 120px;
    height: 15px;
    border: none;
    border-bottom: 1px solid var(--secondary-color-hard);
    background: #bbd0fd;
    margin: 15px 10px 15px 25px;
    font-size: 1rem;
    color: var(--secondary-color-hard)
}

#ciudad::placeholder{
    color: var(--secondary-color-hard);
    font-size: 1rem;
    opacity: 0.5;
    padding-left: 5px;
}